# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# Vite/React build
client/dist
client/.vite

# Env
.env
client/.env
server/.env

# Uploads
server/uploads

# Logs
logs
*.log

# OS/Editor
.vscode
.idea
